# Go
/bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/

# Database
*.db
*.sqlite
*.sqlite3

# Frontend
web/node_modules/
web/dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Env
.env
.env.local

# OS
.DS_Store
Thumbs.db
